@import "template";

// ==========================================================================

.adv-box {
	//background: $black-10;

	&.default {
		height: 90px;
		//width: 720px;
		text-align: center;
	}

	iframe {
		width: 100%;
		height: 100%;
	}
}