<div class="mdl mdl-popup mdl-open">
    <div class="mdl-component">
        <article class="mdl-body">
            <!-- <p ng-if="type == 'text' || type == 'delete'" ng-bind-html="text"></p> -->
        </article>
        <footer class="mdl-footer">
            <!-- <a ng-if="!singleButton" ng-class="{'remove': (type == 'delete'), 'ok': (type != 'delete')}" ng-click="okCallback ? callback(okCallback) : close()"><% okText || 'Yes' %></a>
            <a ng-click="closeCallback ? callback(closeCallback) : close()"><% cancelText || 'No' %></a> -->
        </footer>

        <a class="mdl-close" ng-click="close()">&times;</a>
    </div>
</div>