<div class="main-container" editor-password>
  <div class="editor-wrapper">
    <header class="editor-top"><h2>Change Password</h2></header>
  	
      <article>
        <div class="alert alert-danger" ng-if="notify.error.active">
          <@ notify.error.msg @>
          <a ng-click="notify.close()" ng-style="btnRemove"><i class="icon icon-cancel"></i></a>
        </div>
        
        <form ng-submit="submit()">
          <div class="col-group">
            <label>Password</label>
            <input type="text" ng-model="data.password.new" placeholder="Type here">
          </div>

          <div class="col-group">
            <label>Re-type password</label>
            <input type="text" ng-model="data.password.reType" placeholder="Type here">
          </div>
          <input type="submit" name="" hidden>
        </form>

      </article>

      <footer class="editor-bottom mdl-footer">
        <div class="wrap-footer_btn">
          <a ng-click="closeCallback ? callback(closeCallback) : close()" ng-hide="onProgress">Cancel</a>
          <a ng-if="!singleButton" class="ok" ng-click="saveClick(data)"><@ (onProgress) ? 'Please wait ...' :  'Save' @> </a>
        </div>
      </footer>

  </div>
</div>
