<div class="main-container" data-app="editors" editor-article>
  <div class="editor-wrapper">
    <header class="editor-top"><h2>Change tags of <span ng-bind-html="data.title"></span></h2></header>
  	
  	<article>
      <div class="eb-footer-tags eb-footer-components">
        <tags-input ng-model="tags">
          <auto-complete source="loadTags($query)"></auto-complete>
        </tags-input>
      </div>
  	</article>

  	<footer class="editor-bottom mdl-footer">
      <div class="wrap-footer_btn">
        <a ng-click="closeCallback ? callback(closeCallback) : close()" ng-hide="onProgress">Cancel</a>
        <a ng-if="!singleButton" class="ok" ng-click="saveClick('set-tags')"><@ (onProgress) ? 'Please wait ...' :  'Save' @> </a>
      </div>
    </footer>
  </div>
</div>
