<div class="main-container" editor-article>
  <div class="editor-wrapper" editor-title>
    <header class="editor-top"><h2>Change Title</h2></header>
  	
  	<article>
  		<textarea ng-bind-html="data.title" ng-model="data.title" text-content></textarea>
  	</article>

  	<footer class="editor-bottom mdl-footer">
	    <div class="wrap-footer_btn">
	      <a ng-click="closeCallback ? callback(closeCallback) : close()" ng-hide="onProgress">Cancel</a>
	      <a ng-if="!singleButton" class="ok" ng-click="saveClick('set-title')"><@ (onProgress) ? 'Please wait ...' :  'Save' @> </a>
	    </div>
    </footer>
  </div>
</div>
