<div class="main-container" editor-article>
  <div class="editor-wrapper" editor-created>
    <header class="editor-top"><h3 ng-style="{'color': '#333333'}">Change created date of <strong><span ng-bind-html="data.title"></span></strong></h3></header>
  	
  	<article>
      <input type="text" datetime-picker hidden="true">
  	</article>

  	<footer class="editor-bottom mdl-footer">
      <div class="wrap-footer_btn">
        <a ng-click="closeCallback ? callback(closeCallback) : close()" ng-hide="onProgress">Cancel</a>
        <a ng-if="!singleButton" class="ok" ng-click="saveClick('set-created')"><@ (onProgress) ? 'Please wait ...' :  'Save' @> </a>
      </div>
    </footer>
  </div>
</div>
