<div class="main-container" data-app="editors" editor-article>
  <div class="editor-wrapper">
    <header class="editor-top"><h2>Change Category</h2></header>
  	
  	<article>
      <div class="eb-footer-category eb-footer-components" ng-click="openCategory($event)">
          <div class="eb-category components"><span><@ data.channel.name ? data.channel.name : 'Choose Category' @></span><i class="icon-down"></i></div>

          <ul class="eb-category-list">
            <div class="rows-group">
              <div class="col-1">
                <li ng-click="setChannel($event, 'hobbies-channel')">Art &amp; Design</li>
                <li ng-click="setChannel($event, 'animals-channel')">Cute</li>
                <li ng-click="setChannel($event, 'creepy-channel')">Creepy</li>
                <li ng-click="setChannel($event, 'entertainments-channel')">Entertainments</li>
                <li ng-click="setChannel($event, 'facts-channel')">Facts &amp; History</li>
                <li ng-click="setChannel($event, 'anime-comic-channel')">Games, Comic &amp; Anime</li>
                <li ng-click="setChannel($event, 'inspirational-channel')">Inspirational</li>
              </div>
              <div class="col-1">
                <li ng-click="setChannel($event, 'lifestyle-channel')">Lifestyle</li>
                <li ng-click="setChannel($event, 'fun-humor-channel')">Fun &amp; Humor</li>
                <li ng-click="setChannel($event, 'news-info-channel')">News &amp; Info</li>
                <li ng-click="setChannel($event, 'nsfw-channel')">NSFW</li>
                <li ng-click="setChannel($event, 'wtf-channel')">WTF!</li>
                <li ng-click="setChannel($event, 'sports-channel')">Sports</li>
                <li ng-click="setChannel($event, 'tech-channel')">Tech</li>
              </div>
              <div class="col-1">
                <li ng-click="setChannel($event, 'travelling-channel')">Travelling</li>
                <li ng-click="setChannel($event, 'unique-weird-channel')">Unique &amp; Weird</li>
              </div>
            </div>
          </ul>
        </div>
  	</article>

  	<footer class="editor-bottom mdl-footer">
	    <div class="wrap-footer_btn">
	      <a ng-click="closeCallback ? callback(closeCallback) : close()">Cancel</a>
	      <a ng-if="!singleButton" class="ok" ng-click="saveClick()">Save</a>
	    </div>
  </footer>
  </div>
</div>
