@font-face {
	font-family: 'ProximaNovaRegular';
	src: image-url('desktop/fonts/proxima-nova-reguler/ProximaNovaRegular.eot');
	src: local('ProximaNovaRegular'),
       image-url('../desktop/fonts/proxima-nova-reguler/ProximaNovaRegular.woff') format('woff'),
       image-url('../desktop/fonts/proxima-nova-reguler/ProximaNovaRegular.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_58703">Text with this font applied</p> */
.fontsforweb_fontid_58703 {
	font-family: 'ProximaNovaRegular' !important;
}

/* Font downloaded from FontsForWeb.com */
